
.FKCAudio-component {
    .component-title-inner {
        padding: 0;
        padding-right: 10px !important;
    }
}

.FKCAudio-widget {
 .audio-player {
    padding: 0;
    width: 28px !important;
    height: 28px  !important;
    border-radius: 14px;
    position: absolute;
    top: 28px;
    right: 14px;
    .dir-rtl & {
        right:inherit;
        left: 14px;
    }
 }

    // ==============================
    .mejs-controls .mejs-button {
        button {
            background-image: url(../../assets/controls.svg);
        }
    }

    .mejs-container {
        background: @primary-color;
    }

    .mejs-container:hover {
        background: black;
    }

    .mejs-container .mejs-controls {
        background: transparent !important;
    }
    
    .mejs-controls div.mejs-time-rail,
    .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
    .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
    .mejs-container .mejs-controls .mejs-time,
    .mejs-volume-button,
    .mejs-mute,
    .mejs-controls a.mejs-horizontal-volume-slider
    {
        display: none !important;
    }   
}

 @media (min-width: 760px) {
.component-left .audio-player {
    right: 8% !important;
    .dir-rtl {
        right:inherit;
        left: 8% !important;
    }
  }
}

@media (min-width: 760px) {
.dir-rtl {
    .component-right .audio-player {
    left: 8% !important;
    }
  }
}
